body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
}
.logo {
  width: 10em;
  margin: 1em;
}

.yellow-box {
  height: 3em;
  background-color: #fdfbf1;
  text-align: center;
  color: #107777;
  font-size: 0.7em;
}

.yellow-box-text {
  border-top: 0.2em #ffd877 solid;
  display: flex;
  justify-content: center;
}

.main-div {
  display: flex;
  justify-content: center;
  text-align: center;
}

.foccacia-description {
  text-align: left;
}

.img {
  border-radius: 1em;
  width: 40em;
}

.image-author {
  color: #999999;
}

.featured {
  text-align: left;
  border-left: 0.2em #ffd877 solid;
}

.featured h3 {
  color: #eb906a;
  margin: 0 0 0 1em;
}

.featured a {
  color: #81d6d6;
  margin: 0 0 0 1.2em;
}

.blue-bottom-div {
  text-align: left;
}

.div-h1-blue-bottom h1 {
  margin-bottom: 0.5em;
  font-size: 1.3em;
  color: rgb(97, 96, 96);
}
.div-h1-blue-bottom {
  border-bottom: 0.1em #81d6d6 solid;
}

.ingredients-lists {
  text-align: left;
  color: rgb(97, 96, 96);
}

.read-more a {
  color: #81d6d6;
}
